<!DOCTYPE html>
    <head>
        <script type="text/javascript" src="/assets/scripts/random_page.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/styles/stylesheet.css" media="screen">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body style="margin:10%; ">
        {{ content }}
    </body>
    <footer>
        <a href="JavaScript:random_page();"><img src="/assets/images/door_mini.jpg" alt="door" width="100" height="100"></a>
    </footer>
</html>